@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
	padding: 0;
	border: 0;
}

.container {
  display: grid;
  grid-template-columns: 20rem 1fr 20rem;
  grid-template-rows: 10rem 1fr;
  height: 100vh;
}

.profile-pic {
  background: #FCBF49;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  align-self: center;
  justify-self: end;
  margin-right: 30px;
  margin-left: 25px;
}

.sidebar {
  background-color: #006992;
  grid-row: 1 / 3;
  display: flex;
  flex-direction: row;
  padding: 30px;
}

.sidebar h1 {
  color: white;
  font-family: raleway, Arial, Helvetica, sans-serif;
  font-weight: 800px;
  font-size: 32px;
  margin-left: 14px;
  width: 200px;
  grid-row: 1 / 2;
  align-self: center;
}

.logo {
  display: flex;
  height: 4rem;
}

img[src^="jslogo"] {
  height: 75px;
  align-self: center;
}

.right-sidebar {
  background-color: #E6F1F7;
  grid-column: 3 / 4;
  background-color: #DA4167;
}

.header-container {
  display: grid;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 10rem;
  grid-column: 2 / 4;
  box-shadow: 3px 3px 7px -1px rgba(0,0,0,0.1);
}

.search-container {
  display: flex;
  align-items: center;
}

i.fa-magnifying-glass {
  padding-left: 30px;
  padding-right: 0.5rem;
  color: #DA4167;
}

input[type=search] {
  height: 30px;
  background-color: #E6F1F7;
  border-radius: 15px;
  width: 100%;
}

.projects-container  {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-auto-rows: 15rem;
  background-color: #E6F1F7;
  height: auto;
  gap: 30px;
  padding: 30px;
}

.project-card {
  background: white;
  border-left: 8px solid #DA4167;
  border-radius: 8px;
  height: 15rem;
  box-shadow: 3px 3px 7px -1px rgba(0,0,0,0.1);
}

@media only screen and (max-width: 992px) {

  .projects-container {
    grid-column: 2 / 4;
  }

  .right-sidebar {
    height: 3rem;
    grid-column: 2 / 4;
    position: sticky;
    bottom: 0;
  }
}

@media only screen and (max-width: 640px) {
  .sidebar {
    grid-row: 1 / 2;
  }

  .header-container {
    grid-column: 1 / 2;
    height: 6rem;
    position: sticky;
    grid-template-rows: 1fr;
  }

  .project-card { 
    width: 100%;
    min-width: 275px;
  }

  .projects-container {
    grid-template-columns: 1fr;
    grid-column: 1 / 4;
    justify-items: center;
  }

  .container {
    display: grid;
    grid-template-columns:  1fr;
    grid-template-rows: 6rem 6rem 1fr;
  }

  .right-sidebar {
    height: 3rem;
    grid-column: 1 / 2;
    position: sticky;
    bottom: 0;
  }

  .sidebar {
    display: flex;
    align-items: center;
  }

  img[src^="jslogo"] {
    height: 65px;
  }

  input[type=search] {
    width: 100%;
  }

}